# Environment variables
.env
.env.local
.env.production

# Dependencies
node_modules/

# Build and Vercel outputs
.vercel
dist/
build/

# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# Logs
*.log
